<script>
import { settings } from '@stores/settings';

$: image = $settings.backgroundImage;
</script>

<footer>
  <small>
    Traducido por <a href="https://imalvaro.com" target="_blank" rel="noopener noreferrer">I'm Alvaro</a> basado en el desarrollo original de <a href="https://arnellebalane.com" target="_blank" rel="noopener noreferrer">Arnelle Balane</a> &middot;
    <a href="https://github.com/arnellebalane/simple-todo" target="_blank" rel="noopener noreferrer">Original en GitHub</a> | <a href="https://gitlab.com/alvaroadlf/lista-de-tareas-sencilla" target="_blank" rel="noopener noreferrer">Traducción en GitLab</a>
  </small>

  {#if image}
    <small>
      Fotografía de <a
        href="{image.user_link}?utm_source=simple-todo&utm_medium=referral "
        target="_blank"
        rel="noopener noreferrer">{image.user_name}</a
      >
      en
      <a
        href="https://unsplash.com?utm_source=simple-todo&utm_medium=referral "
        target="_blank"
        rel="noopener noreferrer">Unsplash</a
      >
    </small>
  {/if}
</footer>

<style>
footer {
  display: flex;
  justify-content: space-between;
  gap: 3.6rem;
  width: 100%;
  height: 5rem;
  padding: 1.4rem 3.6rem;
}

small {
  font-size: 1.4rem;
  color: var(--text-main);
}

:global(body[data-background]) small {
  color: var(--light);
}
</style>
